<template>
  <Suspense>
    <WasmLoader :module="import('@calc/pexpr')">
      <template v-slot="{ eval_expr }">
        <div
          class="calc-polish"
          @keyup.up="walkHistory(1)"
          @keyup.down="walkHistory(-1)"
        >
          <div v-scroll-to-bottom id="polish-output">
            <ExprList :lines="lines" @line="line => (expr = line)" />

            <div id="current-line">
              {{ toString(expr) }}
            </div>
          </div>

          <div style="height: calc(66% - 5px); padding-top: 10px">
            <keyboard
              :baseUnit="layout.baseUnit"
              :cellSize="56"
              :rows="layout.rows"
              :columns="layout.columns"
              :keys="layout.keys"
              @keyup="ev => handleKeyUp(eval_expr)(ev)"
              @keyup.enter="evaler(eval_expr)"
              @keyup.delete="removeChar"
              class="mat-surface keyboard"
            >
              <template v-slot="{ character: key, onKeyUp }">
                <mat-icon-button
                  v-if="key.char.icon"
                  :data-text="key.char.name"
                  :aria-label="key.ariaLabel"
                  @pointerdown="onKeyUp"
                  class="key"
                >
                  <img :src="key.char.icon" :alt="key.char.iconAlt" />
                </mat-icon-button>

                <mat-button
                  v-else
                  @pointerdown="onKeyUp"
                  :aria-label="key.ariaLabel"
                  :data-text="key.char.name"
                  class="key"
                >
                  {{ key.char.name }}
                </mat-button>
              </template>
            </keyboard>
          </div>
        </div>
      </template>
    </WasmLoader>
  </Suspense>
</template>

<script lang="ts">
import {
  computed,
  defineAsyncComponent,
  defineComponent,
  reactive,
  ref,
  watch
} from "vue";
import { useStore } from "vuex";
import BasicModule from "@/views/Basic.module";
import ExprList from "@/components/ExprList.vue";
import { fromKeyboardEvent, useKeyboardLayout } from "@/util/keys";
import { format } from "@/util/num";

type Evaluator = (expr: string, vars: Float64Array) => Float64Array;

export default defineComponent({
  components: {
    ExprList,
    Keyboard: defineAsyncComponent(() => import("@/components/Keyboard.vue")),
    MatIconButton: defineAsyncComponent(() =>
      import("@/material/MatIconButton.vue")
    ),
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue")),
    WasmLoader: defineAsyncComponent(() =>
      import("@/components/WasmLoader.vue")
    )
  },
  setup() {
    const store = useStore<any>();

    if (!("basic" in store.state))
      store.registerModule(["basic"], BasicModule(store));

    const curLayoutIdx = ref(0);
    const layouts = ["arithmetic", "transcendental"];
    const { layout, setLayout } = useKeyboardLayout("arithmetic");

    const ans = reactive({
      re: 0,
      im: 0
    });
    const expr = ref<string[]>([]);
    const hidx = ref(0);

    const lines = computed(() => store.state.basic.lines);
    const units = computed(() => store.state.units);

    watch(
      () => curLayoutIdx.value,
      i => setLayout(layouts[i])
    );

    const addChar = (char: string, evalExpr: Evaluator) => {
      switch (char) {
        case "=":
          evaler(evalExpr);
          break;
        case "switch":
          curLayoutIdx.value = (curLayoutIdx.value + 1) % layouts.length;
          break;
        case "backspace":
          removeChar();
          break;
        default:
          expr.value.push(char);
          break;
      }
    };

    const handleKeyUp = (evalExpr: Evaluator) => (ev: KeyboardEvent) => {
      if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === "Enter")
        return;

      const char = fromKeyboardEvent(ev);
      if (!char) return;

      addChar(char.name, evalExpr);
    };

    const evaler = (evalExpr: Evaluator) => {
      const val = expr.value;
      const v = toString(["(", ...val, ")"]);
      const res = evalExpr(v, Float64Array.from([ans.re, ans.im]));

      ans.re = res[0];
      ans.im = res[1];

      const out = format(res);

      store.commit("basic/pushLine", {
        input: val,
        output: out
      });
      expr.value = [];
    };

    const removeChar = () => expr.value.pop();

    const walkHistory = (n: number) => {
      const len = lines.value.length;
      const d = hidx.value + n;

      if (d > len) return;
      if (d < 1) {
        if (hidx.value === 0) return;

        hidx.value = 0;
        expr.value = [];
        return;
      }

      expr.value = lines.value[len - d].input.slice();
      hidx.value = d;
    };

    const toString = (xs: string[]) => xs.reduce((acc, s) => acc + s, "");

    return {
      layout,
      units,
      expr,
      lines,
      handleKeyUp,
      removeChar,
      evaler,
      toString,
      walkHistory
    };
  }
});
</script>

<style lang="scss" scoped>
.calc-polish {
  box-sizing: border-box;

  height: 100%;
}

@media only screen and (min-width: 600px) {
  .calc-polish {
    border-radius: 8px;
  }
}

#polish-output {
  box-sizing: border-box;

  width: 100%;
  height: 33%;

  padding: 10px;
  margin: 0;

  background-color: var(--mat-theme-surface, #fff);
  border-radius: 8px;

  overflow: auto;
}

// TODO: This min-wdith doesn't work for tablets
@media only screen and (min-width: 600px) {
  #polish-output {
    overflow: hidden;
  }
}

#current-line {
  height: 20px;

  margin: 0;
  padding: 0;

  line-height: 20px; // TODO: Make rem

  list-style: none;
  word-wrap: break-word;
  max-width: 100%;
}

.key {
  width: 100%;
  height: 100%;
  color: var(--mat-theme-primary, #000);
  background-color: var(--mat-theme-on-primary, #fff);
}
</style>
