<template>
  <Suspense>
    <WasmLoader :module="import('@calc/plot')">
      <template v-slot="{ plot }">
        <div id="plot-view">
          <transition name="io" mode="out-in">
            <div v-if="!editing" v-html="chart" id="plot"></div>

            <mat-list v-else>
              <mat-list-item @pointerdown="editFunc" class="func-input">
                <img
                  svg-inline
                  src="@/assets/function-24px.svg"
                  alt="function"
                  class="mat-list-item__graphic"
                />

                <span class="mat-list-item__text">
                  {{ toString(expr) }}
                </span>
              </mat-list-item>
            </mat-list>
          </transition>

          <div class="function-list">
            <transition name="keyboard" mode="out-in">
              <mat-list v-if="!editing">
                <mat-list-item @pointerdown="editFunc" class="func-input">
                  <img
                    svg-inline
                    src="@/assets/function-24px.svg"
                    alt="function"
                    class="mat-list-item__graphic"
                  />

                  <span class="mat-list-item__text">
                    {{ toString(expr) }}
                  </span>
                </mat-list-item>
              </mat-list>

              <keyboard
                v-else
                :baseUnit="layout.baseUnit"
                :cellSize="56"
                :rows="layout.rows"
                :columns="layout.columns"
                :keys="layout.keys"
                @keyup="ev => handleKeyUp(plot)(ev)"
                @keyup.enter="plotter(plot)"
                @keyup.delete="removeChar"
                class="mat-surface keyboard"
              >
                <template v-slot="{ character: key, onKeyUp }">
                  <mat-icon-button
                    v-if="key.char.icon"
                    :data-text="key.char.name"
                    :aria-label="key.ariaLabel"
                    @pointerdown="onKeyUp(key)"
                    class="key"
                  >
                    <img :src="key.char.icon" :alt="key.char.iconAlt" />
                  </mat-icon-button>

                  <mat-button
                    v-else
                    @pointerdown="onKeyUp(key)"
                    :aria-label="key.ariaLabel"
                    :data-text="key.char.name"
                    class="key"
                  >
                    {{ key.char.name }}
                  </mat-button>
                </template>
              </keyboard>
            </transition>
          </div>
        </div>
      </template>
    </WasmLoader>
  </Suspense>
</template>

<script lang="ts">
import {
  computed,
  defineAsyncComponent,
  defineComponent,
  ref,
  watch
} from "vue";
import { useStore } from "vuex";
import PlotModule from "@/views/Plot.module";
import {
  fromKeyboardEvent,
  useKeyboardLayout,
  PLOT_LAYOUTS
} from "@/util/keys";
import { Settings } from "@calc/plot";

type Plotter = (expr: string, cfg: Settings) => string;

export default defineComponent({
  name: "PlotView",
  components: {
    Keyboard: defineAsyncComponent(() => import("@/components/Keyboard.vue")),
    MatIconButton: defineAsyncComponent(() =>
      import("@/material/MatIconButton.vue")
    ),
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue")),
    WasmLoader: defineAsyncComponent(() =>
      import("@/components/WasmLoader.vue")
    ),
    MatList: defineAsyncComponent(() => import("@/material/MatList.vue")),
    MatListItem: defineAsyncComponent(() =>
      import("@/material/MatListItem.vue")
    )
  },
  props: {
    d: {
      type: Number,
      default: 2
    }
  },
  setup() {
    const store = useStore<any>();

    if (!("plot" in store.state))
      store.registerModule(["plot"], PlotModule(store));

    const editing = ref(false);
    const expr = ref<string[]>(
      store.state.plot.exprs.length > 0 ? store.state.plot.exprs[0] : []
    );
    const chart = ref("");
    const bounds = computed(() => store.state.plot.bounds);
    const step = computed(() => store.state.plot.step);

    const curLayoutIdx = ref(0);
    const layouts = Object.keys(PLOT_LAYOUTS);
    const { layout, setLayout } = useKeyboardLayout(layouts[0], PLOT_LAYOUTS);

    watch(
      () => curLayoutIdx.value,
      i => setLayout(layouts[i])
    );

    const addChar = (char: string, plot: Plotter) => {
      switch (char) {
        case "=":
        case "ok":
          plotter(plot);
          editFunc();
          break;
        case "switch":
          curLayoutIdx.value = (curLayoutIdx.value + 1) % layouts.length;
          break;
        case "backspace":
          removeChar();
          break;
        default:
          expr.value.push(char);
          break;
      }
    };

    const handleKeyUp = (evalExpr: Plotter) => (ev: KeyboardEvent) => {
      if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === "Enter")
        return;

      const char = fromKeyboardEvent(ev);
      if (!char) return;

      addChar(char.name, evalExpr);
    };

    const plotter = (plot: Plotter) => {
      const val = expr.value;
      store.commit("plot/updateExpr", { idx: 0, expr: val });
      const v = toString(["(", ...val, ")"]);
      const cfg = new Settings(
        bounds.value.x_min,
        bounds.value.x_max,
        bounds.value.y_min,
        bounds.value.y_max,
        step.value
      );
      chart.value = plot(v, cfg);
    };

    const removeChar = () => expr.value.pop();

    const editFunc = () => (editing.value = !editing.value);

    const toString = (xs: string[]) => xs.reduce((acc, s) => acc + s, "");

    return {
      expr,
      chart,
      layout,
      editFunc,
      editing,
      handleKeyUp,
      removeChar,
      plotter,
      toString
    };
  }
});
</script>

<style lang="scss">
.full-func-input button {
  transform: scaleY(0.66);
}
</style>

<style lang="scss" scoped>
#plot-view {
  box-sizing: border-box;

  height: 100%;

  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  #plot-view {
    border-radius: 8px;
  }
}

#plot {
  box-sizing: border-box;

  z-index: 0;

  width: 100%;
  max-height: 33%;
  flex-grow: 1;

  margin: 0;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

// TODO: This min-wdith doesn't work for tablets
@media only screen and (min-width: 600px) {
  #plot {
    overflow: hidden;
  }
}

.key {
  width: 100%;
  height: 100%;
  color: var(--mat-theme-primary, #000);
  background-color: var(--mat-theme-on-primary, #fff);
}

.function-list {
  box-sizing: border-box;

  left: 0;
  right: 0;
  z-index: 2;

  padding-top: 5px;
  flex-grow: 2;

  background-color: black;

  transform: scaleY(1);
  transition: transform 500ms ease;
}

.func-input {
  font-weight: 500;

  background-color: rgba(255, 255, 255, 1);
}

.io-enter-active,
.io-leave-active {
  transition: 500ms all linear;
}

.io-enter-from,
.io-leave-to {
  transform-origin: top;
  transform: scaleY(0.5);
  opacity: 0;
}

.keyboard-enter-active,
.keyboard-leave-active {
  transition: 500ms all linear;
}

.keyboard-enter-from,
.keyboard-leave-to {
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
</style>
