<template>
  <div @scroll="fetchOnScroll($event, pageInfo.more, fetchMore)" id="releases">
    <div v-for="release in releases" :key="release.name" class="mat-list-group">
      <h3 class="mat-typography--headline4 release-title">
        {{ release.name }}
      </h3>
      <h6 class="mat-typography--body2 release-date">
        {{ release.timestamp }}
      </h6>

      <h3 v-if="release.features.length > 0" class="mat-list-group__subheader">
        Features
      </h3>
      <commit-list
        v-if="release.features.length > 0"
        :commits="release.features"
      />

      <h3 v-if="release.bugFixes.length > 0" class="mat-list-group__subheader">
        Bug Fixes
      </h3>
      <commit-list
        v-if="release.bugFixes.length > 0"
        :commits="release.bugFixes"
      />

      <hr class="mat-list-divider" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";
import fetchReleases from "@/util/fetchReleases";

export default defineComponent({
  components: {
    CommitList: defineAsyncComponent(() =>
      import("@/components/CommitList.vue")
    )
  },
  setup() {
    const { releases, pageInfo, fetchMore } = fetchReleases();

    const fetchOnScroll = (
      ev: Event,
      hasMore: boolean,
      fetchMore: () => void
    ) => {
      const target = ev.target as HTMLElement;
      if (
        target.scrollTop !== target.scrollHeight - target.offsetHeight ||
        !hasMore
      )
        return;

      fetchMore();
    };

    return {
      releases,
      pageInfo,
      fetchMore,
      fetchOnScroll
    };
  }
});
</script>

<style lang="scss" scoped>
#releases {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-color: var(--mat-theme-surface, #fff);

  overflow: auto;
}

.release-title {
  margin-top: 24px;
  margin-bottom: 0;
}

.release-date {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
</style>
