<template>
  <div class="settings">
    <div class="mat-list-group">
      <div class="settings mat-list-group">
        <div class="view-settings">
          <h3 class="mat-list-group__subheader">Device Info</h3>
          <DeviceInfo />
        </div>

        <hr class="mat-list-divider" />

        <div
          v-for="(view, index) in views"
          :key="view.name"
          class="view-settings"
        >
          <h3 class="mat-list-group__subheader">{{ view.name }}</h3>
          <component :is="view.settings"></component>

          <hr v-if="index < views.length - 1" class="mat-list-divider" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent } from "vue";
import DeviceInfo from "@/components/DeviceInfo.vue";

const views = [
  {
    name: "Core Settings",
    settings: defineAsyncComponent(() =>
      import("@/components/CoreSettings.vue")
    )
  },
  {
    name: "Plot Settings",
    settings: defineAsyncComponent(() =>
      import("@/components/PlotSettings.vue")
    )
  }
];

export default defineComponent({
  name: "Settings",
  components: {
    DeviceInfo
  },
  setup() {
    return {
      views
    };
  }
});
</script>

<style lang="scss" scoped>
.settings {
  box-sizing: border-box;

  height: 100%;
  width: 100%;

  border-radius: 8px;
  background-color: var(--mat-theme-surface, #fff);
}

.view-settings {
  display: inline-block;
  width: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
</style>
