<template>
  <mat-list class="mat-list--three-line mat-list--non-interactive">
    <mat-list-item v-for="commit in commits" :key="commit.hash">
      <span class="mat-list-item__text">
        <span class="mat-list-item__primary-text">
          {{ commit.subject }} (<a :href="commit.url" target="_blank">{{
            commit.hash
          }}</a
          >)
        </span>

        <span class="mat-list-item__secondary-text">
          {{ commit.description }}
        </span>
      </span>
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";

export default defineComponent({
  components: {
    MatList: defineAsyncComponent(() => import("@/material/MatList.vue")),
    MatListItem: defineAsyncComponent(() =>
      import("@/material/MatListItem.vue")
    )
  },
  props: {
    commits: {
      type: Array,
      required: true
    }
  },
  setup() {
    return {};
  }
});
</script>

<style lang="scss" scoped></style>
