<template>
  <mat-list class="mat-list--non-interactive core">
    <mat-list-item>
      <span
        class="mat-list-item__text mat-list-item__primary-text"
        style="flex: 1 1 auto"
      >
        Angles
      </span>

      <span class="mat-button-toggle-group" style="border: 0">
        <mat-button
          @pointerdown="changeAngleUnits('degree')"
          :class="units.angle === 'degree' ? ['toggle-selected'] : []"
          class="mat-button-toggle toggle"
        >
          degree
        </mat-button>

        <mat-button
          @pointerdown="changeAngleUnits('radian')"
          :class="units.angle === 'degree' ? [] : ['toggle-selected']"
          class="mat-button-toggle toggle"
          style="border-left: 1px solid rgba(0, 0, 0, 0.12)"
        >
          radian
        </mat-button>
      </span>
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import { computed, defineAsyncComponent, defineComponent } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  components: {
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue")),
    MatList: defineAsyncComponent(() => import("@/material/MatList.vue")),
    MatListItem: defineAsyncComponent(() =>
      import("@/material/MatListItem.vue")
    )
  },
  setup() {
    const store = useStore();

    const units = computed(() => store.state.units);

    const changeAngleUnits = (unit: "degree" | "radian") => {
      if (units.value.angle === unit) return;

      store.commit("changeAngleUnits", unit);
    };

    return {
      units,
      changeAngleUnits
    };
  }
});
</script>

<style lang="scss" scoped>
.toggle {
  background-color: var(--mat-theme-surface, #fff);
  color: var(--mat-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.toggle-selected {
  color: var(--mat-theme-primary, #000);
}
</style>
