<template>
  <mat-list class="mat-list--non-interactive">
    <mat-list-item>
      <span
        class="mat-list-item__text mat-list-item__primary-text"
        style="flex: 1 1 auto"
      >
        Operating System
      </span>

      <span
        class="mat-list-item__text mat-list-item__primary-text device-info"
        style="width: min-content"
      >
        {{ device.os }}
      </span>
    </mat-list-item>
    <mat-list-item>
      <span
        class="mat-list-item__text mat-list-item__primary-text"
        style="flex: 1 1 auto"
      >
        Browser
      </span>

      <span
        class="mat-list-item__text mat-list-item__primary-text device-info"
        style="width: min-content"
      >
        {{ device.browser }}
      </span>
    </mat-list-item>
    <mat-list-item>
      <span
        class="mat-list-item__text mat-list-item__primary-text"
        style="flex: 1 1 auto"
      >
        Installed
      </span>

      <span
        class="mat-list-item__text mat-list-item__primary-text device-info"
        style="width: min-content"
      >
        {{ device.installed }}
      </span>
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent, reactive } from "vue";
import { detect } from "detect-browser";

export default defineComponent({
  components: {
    MatList: defineAsyncComponent(() => import("@/material/MatList.vue")),
    MatListItem: defineAsyncComponent(() =>
      import("@/material/MatListItem.vue")
    )
  },
  setup() {
    const b = detect();

    const device = reactive({
      os: b && b.os,
      browser: b && b.name,
      installed: window.matchMedia("(display-mode: standalone)").matches
    });

    return {
      device
    };
  }
});
</script>

<style lang="scss" scoped>
.device-info {
  color: rgba(0, 0, 0, 0.6);
}
</style>
