<template>
  <div>
    <div
      v-for="line in lines"
      @pointerdown="$emit('line', line.input.slice())"
      :key="line.id"
      class="output-line"
    >
      <span class="output-line--input">
        {{ toString(line.input) }}
      </span>
      <span class="output-line--output" data-text="output">
        {{ line.output }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";

export interface Line {
  id: number;
  input: string[];
  output: string;
}
5;
export default defineComponent({
  name: "ExprList",
  props: {
    lines: {
      type: Array as PropType<Array<Line>>,
      required: true
    }
  },
  setup() {
    const toString = (xs: string[]) => xs.reduce((acc, s) => acc + s, "");

    return {
      toString
    };
  }
});
</script>

<style lang="scss" scoped>
.output-line {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
  line-height: 20px;
}

.output-line--input {
  align-self: flex-start;
  word-wrap: break-word;

  max-width: 100%;
}

.output-line--output {
  align-self: flex-end;

  text-align: right;
  word-wrap: break-word;

  max-width: 100%;
}
</style>
