<template functional>
  <div v-bind="$attrs" class="grid">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
.grid {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}
</style>
