<template>
  <grid>
    <template v-slot>
      <mat-button
        v-for="b in buttons"
        :key="b.name"
        :data-text="b.name"
        @pointerdown="
          emitInput({ text: b.text ? b.text : b.tok.value, tok: b.tok })
        "
        class="input-button"
      >
        {{ b.text ? b.text : b.tok.value }}
      </mat-button>
    </template>
  </grid>
</template>

<script lang="ts">
import {
  defineAsyncComponent,
  defineComponent,
  onMounted,
  onUnmounted
} from "vue";
import Grid from "@/components/Grid.vue";
import { binary, float, Token } from "@/postfix";

const keyRegEx = /[\+\-\*\/\.0-9]/;
const digitRx = /[0-9]/;

interface Btn {
  text: string;
  tok?: Token;
}

export default defineComponent({
  components: {
    Grid,
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue"))
  },
  props: {
    buttons: {
      type: Array,
      required: true
    }
  },
  setup(props, { emit }) {
    const emitInput = (btn: Btn) => (ev: any) =>
      emit(ev.type === "doubletap" ? "double" : "single", btn);

    const arg = (s: string) => {
      return s === "backspace" ? "double" : "";
    };

    const handleKeyboard = (ev: KeyboardEvent) => {
      const key = ev.key;
      if (!key) return;

      if (!keyRegEx.test(key) && key !== "Enter") return;

      if (key === "Enter") {
        emit("single", { text: "=" });
        return;
      }

      if (key === ".") {
        emit("single", { text: "." });
        return;
      }

      const btn: Btn = { text: key };
      if (digitRx.test(key)) {
        btn.tok = float(key);
        emit("single", btn);
        return;
      }
      btn.tok = binary(key);
      emit("single", btn);
    };

    onMounted(() => {
      document.addEventListener("keyup", handleKeyboard);
    });

    onUnmounted(() => {
      document.removeEventListener("keyup", handleKeyboard);
    });

    return {
      emitInput,
      arg
    };
  }
});
</script>

<style lang="scss" scoped>
.input-button {
  height: 100%;

  border-radius: 8px;
  text-transform: lowercase;
}
</style>
