<template>
  <mat-banner>
    <template v-slot:text>
      Improve your experience with calc.io by adding it to your homescreen.
    </template>

    <template v-slot:actions>
      <mat-button
        @pointerdown="prompt"
        style="height: 36px"
        data-text="add-to-home-btn"
      >
        Add
      </mat-button>

      <span style="width: 8px"></span>

      <mat-button
        @pointerdown="dismiss"
        style="height: 36px"
        data-text="dismiss-btn"
      >
        Dismiss
      </mat-button>
    </template>
  </mat-banner>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";

export default defineComponent({
  components: {
    MatBanner: defineAsyncComponent(() => import("@/material/MatBanner.vue")),
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue"))
  },
  setup(props, { emit }) {
    const prompt = () => emit("prompt");
    const dismiss = () => emit("dismiss");

    return {
      prompt,
      dismiss
    };
  }
});
</script>

<style lang="scss" scoped></style>
