<template>
  <mat-dialog @close="close">
    <template v-slot:header>
      <h2 class="mat-dialog__title" data-text="ios-dialog-title">
        How to Install
      </h2>
    </template>

    <template v-slot:content>
      <div>Tap share button and then select 'Add to Homescreen' btn.</div>
    </template>

    <template v-slot:actions>
      <footer class="mat-dialog__actions">
        <mat-button
          @pointerdown="close"
          class="mat-dialog__button"
          data-text="close-install-dialog-btn"
        >
          Close
        </mat-button>
      </footer>
    </template>
  </mat-dialog>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";

export default defineComponent({
  components: {
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue")),
    MatDialog: defineAsyncComponent(() => import("@/material/MatDialog.vue"))
  },
  setup(props, { emit }) {
    return {
      close: () => emit("close")
    };
  }
});
</script>

<style lang="scss" scoped></style>
