<template>
  <div
    class="grid"
    :style="{
      'grid-template': `repeat(${rows}, minmax(${cellSize}px, 1fr)) / repeat(${columns}, minmax(${cellSize}px, 1fr))`
    }"
  >
    <div
      v-for="key in keys"
      :key="key.char.name"
      class="key"
      :style="compSpanStyles(key)"
    >
      <slot
        :character="key"
        :onKeyUp="onKeyUp(key)"
        :onKeyDown="onKeyDown(key)"
      >
        <button
          :aria-label="key.ariaLabel"
          role="button"
          type="button"
          class="key-btn"
          @pointerdown="handleKeyUp"
        >
          <img
            v-if="key.char.icon"
            :src="key.char.icon"
            :alt="key.char.iconAlt"
          />
          <div v-else>{{ key.char.name }}</div>
        </button>
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, onUnmounted, PropType } from "vue";
import { Key } from "@/util/keys";

interface GridAreaStyle {
  "grid-area": string;
}

export default defineComponent({
  name: "Keyboard",
  emits: ["keyup", "keydown", "click"],
  props: {
    baseUnit: {
      type: Number,
      default: 1
    },
    cellSize: {
      type: Number,
      default: 48
    },
    rows: {
      type: Number,
      required: true
    },
    columns: {
      type: Number,
      required: true
    },
    keys: {
      type: Array as PropType<Key[]>,
      required: true
    }
  },
  setup(props, { emit }) {
    // TODO: baseUnit * size can only be an integer due to CSS grid span only
    //       allowing integers
    const compSpanStyles = (key: Key): GridAreaStyle => {
      const dir = key.direction || "row";
      const size = key.size || 1;

      const rowSpan = props.baseUnit * (dir === "column" ? size : 1);
      const colSpan = props.baseUnit * (dir === "row" ? size : 1);

      return {
        "grid-area": `auto / auto / span ${rowSpan} / span ${colSpan}`
      };
    };

    const handleKeyUp = (ev: KeyboardEvent) => {
      ev.stopPropagation();
      emit("keyup", ev);
    };
    const handleKeyDown = (ev: KeyboardEvent) => {
      ev.stopPropagation();
      emit("keydown", ev);
    };

    const onKeyUp = (key: Key) => () => {
      const ev = new KeyboardEvent("keyup", { key: key.char.name });
      ev.stopPropagation();
      emit("keyup", ev);
    };

    const onKeyDown = (key: Key) => () => {
      const ev = new KeyboardEvent("keydown", { key: key.char.name });
      ev.stopPropagation();
      emit("keydown", ev);
    };

    onMounted(() => {
      document.addEventListener("keyup", handleKeyUp);
      document.addEventListener("keydown", handleKeyDown);
    });

    onUnmounted(() => {
      document.removeEventListener("keyup", handleKeyUp);
      document.removeEventListener("keydown", handleKeyDown);
    });

    return {
      compSpanStyles,
      onKeyUp,
      onKeyDown
    };
  }
});
</script>

<style lang="scss" scoped>
.grid {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;

  display: grid;
}

.key {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.key-btn {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.key-btn > img {
  width: 100%;
  height: 100%;
}
</style>
