<template>
  <div class="banner">
    <div class="banner-text">
      <h3 class="banner-title">
        {{ notification.title }}
      </h3>

      <p v-if="notification.body" class="banner-body">
        {{ notification.body }}
      </p>
    </div>

    <div class="banner-actions">
      <span style="flex: 1 1 auto"></span>

      <mat-button
        v-for="action in notification.actions"
        @pointerdown="action.cb()"
        :key="action.text"
        class="banner-action"
      >
        {{ action.text }}
      </mat-button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent, PropType } from "vue";
import { Notification } from "@/composable/notification";

export default defineComponent({
  name: "NotificationBanner",
  components: {
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue"))
  },
  props: {
    notification: {
      type: Object as PropType<Notification>,
      required: true
    }
  },
  setup() {
    return {};
  }
});
</script>

<style lang="scss" scoped>
.banner {
  box-sizing: border-box;

  display: block;

  max-height: 120px;
  width: 100%;

  padding: 16px 8px 8px 16px;

  color: var(--mat-theme-on-primary, #fff);
}

.banner-title {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .banner {
    height: 52px;

    padding: 8px 8px 8px 24px;
  }
}

.banner-actions {
  display: flex;
}

.banner-action {
  color: var(--mat-theme-primary, #000);
  background-color: var(--mat-theme-on-primary, #fff);
}

@media only screen and (min-width: 600px) {
  .banner-action:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.84);
  }
}
</style>
