<template>
  <mat-list class="mat-list--non-interactive">
    <mat-list-item>
      <mat-input label="Step" v-model="step" />
    </mat-list-item>

    <mat-list-item>
      <mat-input label="Min X" v-model="bounds.x_min" />
    </mat-list-item>
    <mat-list-item>
      <mat-input label="Max X" v-model="bounds.x_max" />
    </mat-list-item>

    <mat-list-item>
      <mat-input label="Min Y" v-model="bounds.y_min" />
    </mat-list-item>
    <mat-list-item>
      <mat-input label="Max Y" v-model="bounds.y_max" />
    </mat-list-item>
  </mat-list>
</template>

<script lang="ts">
import {
  computed,
  defineAsyncComponent,
  defineComponent,
  reactive,
  watch
} from "vue";
import { useStore } from "vuex";
import PlotModule from "@/views/Plot.module";

export default defineComponent({
  name: "PlotSettings",
  components: {
    MatInput: defineAsyncComponent(() => import("@/material/MatInput.vue")),
    MatList: defineAsyncComponent(() => import("@/material/MatList.vue")),
    MatListItem: defineAsyncComponent(() =>
      import("@/material/MatListItem.vue")
    )
  },
  setup() {
    const store = useStore();

    if (!("plot" in store.state))
      store.registerModule(["plot"], PlotModule(store));

    const bounds = reactive({
      x_min: store.state.plot.bounds.x_min,
      x_max: store.state.plot.bounds.x_max,
      y_min: store.state.plot.bounds.y_min,
      y_max: store.state.plot.bounds.y_max
    });
    const step = computed({
      get: () => store.state.plot.step,
      set: v => store.commit("plot/changeStep", v)
    });

    watch(bounds, b => store.commit("plot/updateBounds", b));

    return {
      bounds,
      step
    };
  }
});
</script>

<style lang="scss" scoped></style>
