<template>
  <mat-banner>
    <template v-slot:text> An update is available. </template>

    <template v-slot:actions>
      <mat-button @pointerdown="update" data-text="update-btn">
        Update
      </mat-button>
    </template>
  </mat-banner>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";

export default defineComponent({
  components: {
    MatBanner: defineAsyncComponent(() => import("@/material/MatBanner.vue")),
    MatButton: defineAsyncComponent(() => import("@/material/MatButton.vue"))
  },
  setup(props, { emit }) {
    const update = () => emit("update");

    return {
      update
    };
  }
});
</script>

<style lang="scss" scoped></style>
