<template>
  <div id="app" class="mat-typography">
    <transition name="drawer-scrim" appear>
      <div
        v-if="showMenu && showScrim"
        @pointerdown="toggleMenu"
        id="drawer-scrim"
      ></div>
    </transition>

    <transition name="nav-drawer" appear>
      <aside v-if="showMenu" id="nav-drawer">
        <mat-nav-drawer>
          <template v-slot:header>
            <h3 class="mat-nav-drawer__title">calc.dev</h3>
            <h6 class="mat-nav-drawer__subtitle">v{{ version }}</h6>
          </template>

          <template v-slot:content>
            <mat-list>
              <mat-list-item v-for="opt in menu" :key="opt.name" :to="opt.path">
                <img
                  :src="opt.iconPath"
                  :alt="opt.altText"
                  class="mat-list-item__graphic"
                />

                <span class="mat-list-item__text">{{ opt.name }}</span>
              </mat-list-item>
            </mat-list>
          </template>
        </mat-nav-drawer>
      </aside>
    </transition>

    <div id="main-content">
      <header>
        <mat-app-bar id="calc-app-bar">
          <template v-slot:nav>
            <mat-icon-button @pointerdown="toggleMenu">
              <img svg-inline src="@/assets/menu-24px.svg" alt="menu" />
            </mat-icon-button>
          </template>

          <template v-slot:action>
            <div>
              <mat-icon-button
                v-if="!showPrompt && installable"
                @pointerdown="prompt"
              >
                <img
                  svg-inline
                  src="@/assets/get_app-24px.svg"
                  alt="add to homescreen"
                />
              </mat-icon-button>

              <mat-icon-button
                v-if="shareable && !installable"
                @pointerdown="share"
              >
                <img svg-inline src="@/assets/share-24px.svg" alt="share" />
              </mat-icon-button>
            </div>
          </template>
        </mat-app-bar>

        <transition name="info-banner" appear>
          <NotificationBanner
            v-if="notification"
            :notification="notification"
          />
        </transition>
      </header>

      <main>
        <iOSInstallDialog
          v-if="showIOSPrompt"
          @close="toggleIOSInstallDialog"
        />

        <div id="calc-container">
          <router-view />
        </div>
      </main>
    </div>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineAsyncComponent,
  defineComponent,
  ref,
  Ref,
  onMounted,
  onUnmounted,
  watch
} from "vue";
import { detect } from "detect-browser";
import MatAppBar from "@/material/MatAppBar.vue";
import MatIconButton from "@/material/MatIconButton.vue";
import MatNavDrawer from "@/material/MatNavDrawer.vue";
import { Notifier, Notification } from "@/composable/notification";

import installPrompter from "@/util/installPrompter";
import updatePrompter from "@/util/updatePrompter";

export default defineComponent({
  components: {
    MatAppBar,
    MatIconButton,
    MatNavDrawer,
    NotificationBanner: defineAsyncComponent(() =>
      import("@/components/NotificationBanner.vue")
    ),
    iOSInstallDialog: defineAsyncComponent(() =>
      import("@/components/iOSInstallDialog.vue")
    ),
    MatList: defineAsyncComponent(() => import("@/material/MatList.vue")),
    MatListItem: defineAsyncComponent(() =>
      import("@/material/MatListItem.vue")
    )
  },
  setup() {
    const notifier = new Notifier();
    const notifications = ref<Notification[]>([]);
    const notification = computed(
      () => notifications.value.length > 0 && notifications.value[0]
    );

    notifier.subscribe(async n => {
      notifications.value.push(n);
    });

    const menu = [
      {
        name: "Basic",
        path: "/",
        iconPath: require("@/assets/calculator.svg"),
        altText: "basic calculator"
      },
      {
        name: "Plot 2D",
        path: "/plot?d=2",
        iconPath: require("@/assets/show_chart-24px.svg"),
        altText: "plot 2D functions"
      },
      {
        name: "Settings",
        path: "/settings",
        iconPath: require("@/assets/settings-24px.svg"),
        altText: "settings"
      },
      {
        name: "Release Notes",
        path: "/releases",
        iconPath: require("@/assets/notes-black-24dp.svg"),
        altText: "release notes"
      }
    ];

    const mql = window.matchMedia("(min-width: 840px)");
    const b = detect();
    const isMobile = ref(b && (b.os === "iOS" || b.os === "Android OS"));
    const showIOSPrompt = ref(false);

    const browser = ref(b && b.name);

    const shareable = ref("share" in navigator);
    const showMenu = ref(false);
    const showScrim = ref(!mql.matches);

    const toggleIOSInstallDialog = () =>
      (showIOSPrompt.value = !showIOSPrompt.value);

    const { showPrompt, dismissPrompt, prompt, installable } = installPrompter(
      browser as Ref<string>,
      isMobile as Ref<boolean>,
      toggleIOSInstallDialog
    );
    const { updateAvailable, update } = updatePrompter();

    watch(showPrompt, n => {
      if (!n) return;

      notifier.notify({
        title: "Add to Homescreen",
        body:
          "Improve your experience with calc.io by adding it to your homescreen.",
        actions: [
          {
            text: "add",
            cb: () => {
              prompt();
              notifications.value.shift();
            }
          },
          {
            text: "dismiss",
            cb: () => {
              dismissPrompt();
              notifications.value.shift();
            }
          }
        ]
      });
    });

    watch(updateAvailable, n => {
      if (!n) return;

      notifier.notify({
        title: "Update",
        actions: [
          {
            text: "now",
            cb: () => {
              update();
              notifications.value.shift();
            }
          },
          {
            text: "later",
            cb: () => notifications.value.shift()
          }
        ]
      });
    });

    const share = () =>
      (navigator as any)
        .share({
          title: "calc.dev",
          url: "https://calc.dev"
        })
        .catch((err: any) => {
          // Ignore when user just closes share menu
          if (err.name === "AbortError") return;

          throw err;
        });

    const toggleMenu = () => (showMenu.value = !showMenu.value);

    const changeScrim = (e: MediaQueryListEvent) => {
      if (e.matches) {
        showScrim.value = false;
        return;
      }
      showScrim.value = true;
    };

    onMounted(() => {
      mql.addListener(changeScrim);
    });

    onUnmounted(() => mql.removeListener(changeScrim));

    return {
      showPrompt,
      installable,
      notification,
      browser,
      isMobile,
      showIOSPrompt,
      toggleIOSInstallDialog,
      shareable,
      share,
      menu,
      showMenu,
      toggleMenu,
      showScrim,
      version: process.env.VUE_APP_VERSION
    };
  }
});
</script>

<style lang="scss">
@import "@/theme.scss";
@import "@/typography.scss";

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--mat-theme-background, #000);
}

.mat-surface {
  background-color: var(--mat-theme-surface, #fff);
  border-radius: 8px;
}

#app {
  width: 100%;
  height: 100%;
}

#calc-app-bar {
  color: var(--mat-theme-on-primary, #fff);
  background-color: var(--mat-theme-background, #000);
}

#main-content {
  flex: 1 1 auto;

  width: 100%;
  height: 100%;
}

#drawer-scrim {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.32);
}

#nav-drawer {
  position: absolute;

  left: 0;
  top: 0;
  z-index: 6;

  height: 100%;

  color: black;
  background-color: white;
}

#calc-container {
  box-sizing: border-box;
  position: absolute;

  width: 100%;
  height: calc(100% - 56px); // sub top bar height

  padding: 16px;
}

@media only screen and (min-width: 840px) {
  #app {
    display: flex;
  }

  #nav-drawer {
    position: static;
    z-index: 0;
  }

  #calc-container {
    // TODO: Determine a more concrete max-width/height
    width: 400px;
    height: 760px;
    top: calc(50% - 320px);
    left: calc(50% - 200px);
  }
}

.info-banner-enter-active {
  transition: transform 500ms cubic-bezier(0, 0, 0.3, 1), opacity 150ms ease;
  transition-delay: 1s;
}

.info-banner-leave-active {
  transition: transform 500ms ease, opacity 150ms ease;
}

.info-banner-enter-from,
.info-banner-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.drawer-scrim-enter-active,
.drawer-scrim-leave-active {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drawer-scrim-enter-from,
.drawer-scrim-leave-to {
  opacity: 0;
}

.nav-drawer-enter-active,
.nav-drawer-leave-active {
  transition: transform 250ms cubic-bezier(0.4, 0, 1, 1);
}

.nav-drawer-enter-from,
.nav-drawer-leave-to {
  transform: translateX(-100%);
}
</style>
