:root {
  --mat-theme-primary: #000;
  --mat-theme-secondary: #fff;
  --mat-theme-on-primary: #fff;
  --mat-theme-on-secondary: #000;

  --mat-theme-background: #000;
  --mat-theme-surface: #fff;

  --mat-theme-text-primary: #000;
  --mat-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mat-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mat-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mat-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);

  --mat-theme-hover-shade: rgba(0, 0, 0, 0.04);
}
