@use "sass:map";
@use "sass:string";

@function get-letter-spacing_($tracking, $font-size) {
  @return $tracking / ($font-size * 16) * 1em;
}

@function pxToRem($px) {
  @return $px / 16px * 1rem;
}

$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
) !default;

.mat-typography {
  font-family: unquote('Roboto, sans-serif');
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  font-size: 1rem;
  font-weight: map-get($font-weight-values, regular);
}

.mat-typography--headline1 {
  font-size: pxToRem(96px);
  line-height: pxToRem(96px);
  font-weight: map-get($font-weight-values, light);
  letter-spacing: get-letter-spacing_(-1.5, 6);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--headline2 {
  font-size: pxToRem(60px);
  line-height: pxToRem(60px);
  font-weight: map-get($font-weight-values, light);
  letter-spacing: get-letter-spacing_(-0.5, 3.75);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--headline3 {
  font-size: pxToRem(48px);
  line-height: pxToRem(50px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--headline4 {
  font-size: pxToRem(34px);
  line-height: pxToRem(40px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: get-letter-spacing_(0.25, 2.125);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--headline5 {
  font-size: pxToRem(24px);
  line-height: pxToRem(32px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--headline6 {
  font-size: pxToRem(20px);
  line-height: pxToRem(32px);
  font-weight: map-get($font-weight-values, medium);
  letter-spacing: get-letter-spacing_(0.25, 1.25);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--subtitle1 {
  font-size: pxToRem(16px);
  line-height: pxToRem(28px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: get-letter-spacing_(0.15, 1);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--subtitle2 {
  font-size: pxToRem(14px);
  line-height: pxToRem(22px);
  font-weight: map-get($font-weight-values, medium);
  letter-spacing: get-letter-spacing_(0.1, 0.875);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--body1 {
  font-size: pxToRem(16px);
  line-height: pxToRem(24px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: get-letter-spacing_(0.5, 1);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--body2 {
  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: get-letter-spacing_(0.25, 0.875);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--caption {
  font-size: pxToRem(12px);
  line-height: pxToRem(20px);
  font-weight: map-get($font-weight-values, regular);
  letter-spacing: get-letter-spacing_(0.4, 0.75);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-typography--button {
  font-size: pxToRem(14px);
  line-height: pxToRem(36px);
  font-weight: map-get($font-weight-values, medium);
  letter-spacing: get-letter-spacing_(1.25, 0.875);
  text-decoration: none;
  text-transform: uppercase;
}

.mat-typography--overline{
  font-size: pxToRem(12px);
  line-height: pxToRem(32px);
  font-weight: map-get($font-weight-values, medium);
  letter-spacing: get-letter-spacing_(2, 0.75);
  text-decoration: none;
  text-transform: uppercase;
}
