<template>
  <div class="mat-app-bar">
    <slot name="nav" />

    <slot name="action" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  }
});
</script>

<style lang="scss">
.mat-app-bar {
  box-sizing: border-box;

  width: 100%;
  height: 56px;

  padding: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .mat-app-bar {
    height: 64px;
  }
}
</style>
