<template>
  <button v-bind="$attrs" class="mat-button">
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  }
});
</script>

<style lang="scss">
.mat-button {
  box-sizing: border-box;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  height: 36px;
  min-width: 48px;
  padding: 0 8px;

  border: none;
  outline: none;

  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: inherit;

  user-select: none;
  overflow: visible;
  vertical-align: middle;

  border-radius: 4px;

  color: var(--mat-theme-on-primary, #fff);
  background-color: var(--mat-theme-primary, #000);
  transition: background-color 0.2s cubic-bezier(0.35, 0, 0.25, 1);

  &::-moz-focus-inner {
    border: 0;
  }

  &:disabled {
    color: rgba(var(--mat-theme-primary, 0, 0, 0), 0.38); // ink color var
  }
}

.mat-button-toggle-group {
  box-sizing: border-box;
  height: 48px;

  border-radius: 4px;

  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.18);

  :not(.mat-button-toggle-selected) {
    color: var(--mat-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
  }
}

.mat-button-toggle {
  height: 48px;
  padding: 12px;
}

@media only screen and (min-width: 600px) {
  .mat-button:hover:not(:disabled) {
    background-color: var(--mat-theme-hover-shade, rgba(0, 0, 0, 0.04));
  }
}
</style>
