<template>
  <div class="mat-banner">
    <div style="padding-bottom: 12px">
      <slot name="text" />
    </div>

    <div class="mat-banner-actions">
      <span style="flex: 1 1 auto"></span>

      <slot name="actions" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  setup() {
    return {};
  }
});
</script>

<style lang="scss" scoped>
// TODO: Make responsive

.mat-banner {
  box-sizing: border-box;

  display: block;

  max-width: 360px;
  max-height: 120px;
  width: 100%;

  padding: 16px 8px 8px 16px;

  line-height: 20px;
  text-align: left;
  color: white;
}

@media only screen and (min-width: 600px) {
  .mat-banner {
    max-width: 100%;
    height: 52px;

    padding: 8px 8px 8px 24px;
  }
}

.mat-banner-actions {
  display: flex;
}
</style>
