<template>
  <div
    :class="
      focused ? ['mat-input', 'mat-input__border-focused'] : ['mat-input']
    "
  >
    <label
      :for="`mat-input__${label}`"
      :class="
        focused || !!modelValue
          ? ['mat-input__label', 'mat-input__label-focused']
          : ['mat-input__label']
      "
      >{{ label }}</label
    >
    <input
      type="text"
      :name="`mat-input__${label}`"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      @focusin="focus"
      @focusout="focus"
      class="mat-input__input"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MatInput",
  props: ["label", "modelValue"],
  emits: ["update:modelValue"],
  setup() {
    const focused = ref(false);

    const focus = () => {
      focused.value = !focused.value;
    };

    return {
      focus,
      focused
    };
  }
});
</script>

<style lang="scss">
.mat-input {
  position: relative;

  box-sizing: border-box;

  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  padding: 8px 12px 0px 16px;
  margin: 0;

  line-height: 1.125;
  font-size: inherit;
  background: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: 125ms border-bottom-color linear;
}

.mat-input__border-focused {
  border-bottom-color: var(--mat-theme-primary, #000);
}

.mat-input__input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;

  padding-top: 14px;
  line-height: 1.125;
  font-size: inherit;
}

.mat-input__label {
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 8px);
  transition: 125ms transform linear;

  pointer-events: none;

  line-height: 1.125;
  font-size: inherit;

  color: rgba(0, 0, 0, 0.57);
}

.mat-input__label-focused {
  transform: translate(0, 0) scale(0.8);
}
</style>
