<template functional>
  <router-link
    v-if="to"
    :to="to"
    class="mat-list-item"
    :class="[to && $route.fullPath === to ? 'mat-list-item--activated' : '']"
  >
    <slot />
  </router-link>

  <li
    v-else
    class="mat-list-item"
    :class="[to && $route.fullPath === to ? 'mat-list-item--activated' : '']"
  >
    <slot />
  </li>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter, useRoute } from "vue-router";

export default defineComponent({
  name: "MatListItem",
  props: {
    to: String
  },
  setup(props) {
    if (!props.to || props.to === "") return {};

    const router = useRouter();
    const route = useRoute();

    const nav = () => {
      if (route.path === props.to) return;
      router.push(props.to as string);
    };

    return {
      nav
    };
  }
});
</script>

<style lang="scss">
@function get-letter-spacing_($tracking, $font-size) {
  @return $tracking / ($font-size * 16) * 1em;
}

@function pxToRem($px) {
  @return $px / 16px * 1rem;
}

.mat-list-item {
  box-sizing: border-box;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 48px;
  padding: 0 16px;

  font-size: pxToRem(16px);
  text-decoration: none;
  color: var(--mat-theme-text-primary, #000);

  overflow: hidden;
  transition: background-color 15ms linear;

  &:focus {
    outline: none;
  }
}

.mat-list-item--disabled {
  color: var(--mat-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mat-list-item__graphic {
  box-sizing: border-box;

  width: 24px;
  height: 24px;
  margin-right: 32px;
  border-radius: 50%;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: currentColor;

  background-color: transparent;
  // color: var(--mat-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
}

.mat-list-item__meta {
  box-sizing: border-box;

  margin-left: auto;
  margin-right: 0;

  color: var(--mat-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mat-list-item__text {
  box-sizing: border-box;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mat-list-item__primary-text {
  box-sizing: border-box;

  margin-top: 0;

  font-size: pxToRem(16px);
  line-height: pxToRem(28px);
  font-weight: 400;
  letter-spacing: get-letter-spacing_(0.15, 1);
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:before {
    box-sizing: border-box;
    display: inline;
    width: 0;
    height: 32px;
    content: "";
    vertical-align: 0;
  }

  margin-bottom: -20px;

  &:after {
    box-sizing: border-box;
    display: inline;
    width: 0;
    height: 20px;
    content: "";

    vertical-align: -20px;
  }

  display: block;
}

.mat-list-item__secondary-text {
  box-sizing: border-box;

  font-size: pxToRem(12px);
  line-height: pxToRem(20px);
  font-weight: 400;
  letter-spacing: get-letter-spacing_(0.4, 0.75);
  text-decoration: inherit;
  text-transform: inherit;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  display: block;
  margin-top: 0;

  &:before {
    box-sizing: border-box;
    display: inline;
    width: 0;
    height: 20px;
    content: "";
    vertical-align: 0;
  }

  color: var(--mat-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: inherit;
  line-height: 19px;

  &:nth-child(n + 2) {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 16.5px;
  }
}

.mat-list-action {
  margin-left: auto;
  margin-right: 0;
  color: rgba(0, 0, 0, 0.54);
}
</style>
