<template functional>
  <ul class="mat-list">
    <slot />
  </ul>
</template>

<style lang="scss">
.mat-list {
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.5rem;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  color: var(--mat-theme-primary, #000);

  background-color: var(--mat-theme-surface, #fff);
  transition: background-color 0.2s linear;

  &:focus {
    outline: none;
  }

  // Extra specificity is to override .material-icons display style if used in
  // conjunction with mdc-list-item__graphic
  // stylelint-disable plugin/selector-bem-pattern
  .mat-list-item__graphic {
    display: inline-flex;
  }
}

.mat-list-divider {
  height: 0;
  margin: 0;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.mat-list-group {
  .mat-list {
    padding: 0;
  }
}

@function pxToRem($px) {
  @return $px / 16px * 1rem;
}

@function get-letter-spacing_($tracking, $font-size) {
  @return $tracking / ($font-size * 16) * 1em;
}

.mat-list-group__subheader {
  $mat-list-subheader-virtual-height: 3rem;
  $mat-list-subheader-leading: pxToRem(24px);
  $mat-list-subheader-margin: calc(
    (#{$mat-list-subheader-virtual-height} - #{$mat-list-subheader-leading}) / 2
  );

  box-sizing: border-box;
  color: var(--mat-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin: $mat-list-subheader-margin 16px;

  font-size: pxToRem(16px);
  line-height: pxToRem(28px);
  font-weight: 400;
  letter-spacing: get-letter-spacing_(0.15, 1);
  text-decoration: inherit;
  text-transform: inherit;
}

.mat-list--avatar-list {
  .mat-list-item {
    height: 56px;
  }

  .mat-list-item__graphic {
    width: 40px;
    height: 40px;
    margin-right: 16px;

    border-radius: 50%;
  }
}

.mat-list--two-line {
  .mat-list-item__text {
    align-self: flex-start;
  }

  .mat-list-item {
    height: 72px;
  }
}

.mat-list--three-line {
  .mat-list-item__text {
    align-self: flex-start;
  }

  .mat-list-item {
    height: 88px;
  }

  .mat-list-item__secondary-text {
    text-overflow: none;
    word-wrap: break-word;
    white-space: normal;
  }
}

// Only change mouse cursor for interactive list items which are not disabled.
:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item:hover {
  cursor: pointer;
  background-color: var(--mat-theme-hover-shade, rgba(0, 0, 0, 0.04));
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item--activated:not(.mat-ripple-upgraded)::after {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item--activated::after,
:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item--activated::before {
  background-color: var(--mat-theme-primary, #000);
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::after,
:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::before {
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::after,
:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item--activated::before {
  opacity: 0.12;
}

:not(.mat-list--non-interactive)
  > :not(.mat-list-item--disabled).mat-list-item::before {
  -webkit-transition: opacity 15ms linear, background-color 15ms linear;
  -o-transition: opacity 15ms linear, background-color 15ms linear;
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}
</style>
